modules = ["web", "python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[[ports]]
localPort = 5000
externalPort = 80
